---
interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}
import { Image } from 'astro:assets';
const images = import.meta.glob('../assets/content/**/*')

const { href, title, body, image } = Astro.props;
let domain = (new URL(href))
let imagePath = image.replace('/weekly', '../assets'); // todo update database
const myImage = images[imagePath]
	? await images[imagePath]()
	: { default: 'no-image' };
---

<li class="link-card">
	<a href={href} target="_blank" rel="noopener noreferrer" draggable="false">
		<Image
			src={myImage.default}
			alt={title}
			width={300}
			height={166}
			class="image"
		/>
		<div class="content">
			<div>
				<h3>
					{title}
					<span>&rarr;</span>
				</h3>
				<p>
					{body}
				</p>
			</div>
			<p class="host">
				{domain.hostname}
			</p>
		</div>
	</a>
</li>
