---
const { page } = Astro.props;
const { currentPage } = page
---

<div class="pagination">
  {page.url.prev ? <a href={page.url.prev}>Prev</a> : null}
  <a href="/explore/1" class={currentPage === 1 ? 'active' : ''}>1</a>
  {currentPage > 4 && <span>...</span>}

  <!-- first pages -->
  {currentPage <= 4 && <>
    <a href="/explore/2" class={currentPage === 2 ? 'active' : ''}>2</a>
    <a href="/explore/3" class={currentPage === 3 ? 'active' : ''}>3</a>
    <a href="/explore/4" class={currentPage === 4 ? 'active' : ''}>4</a>
    <a href="/explore/5" class={currentPage === 5 ? 'active' : ''}>5</a>
  </>}

  <!-- in between -->
  {currentPage > 4 && currentPage <= page.lastPage - 4 && <>
    <a href={`/explore/${currentPage - 2}`} class={currentPage === currentPage - 2 ? 'active' : ''}>{currentPage - 2}</a>
    <a href={`/explore/${currentPage - 1}`} class={currentPage === currentPage - 1 ? 'active' : ''}>{currentPage - 1}</a>
    <a href={`/explore/${currentPage}`} class={currentPage === currentPage ? 'active' : ''}>{currentPage}</a>
    <a href={`/explore/${currentPage + 1}`} class={currentPage === currentPage + 1 ? 'active' : ''}>{currentPage + 1}</a>
    <a href={`/explore/${currentPage + 2}`} class={currentPage === currentPage + 2 ? 'active' : ''}>{currentPage + 2}</a>
  </>}

  <!-- last pages -->
  {currentPage > page.lastPage - 4 && <>
    <a href={`/explore/${page.lastPage - 4}`} class={currentPage === page.lastPage - 4 ? 'active' : ''}>{page.lastPage - 4}</a>
    <a href={`/explore/${page.lastPage - 3}`} class={currentPage === page.lastPage - 3 ? 'active' : ''}>{page.lastPage - 3}</a>
    <a href={`/explore/${page.lastPage - 2}`} class={currentPage === page.lastPage - 2 ? 'active' : ''}>{page.lastPage - 2}</a>
    <a href={`/explore/${page.lastPage - 1}`} class={currentPage === page.lastPage - 1 ? 'active' : ''}>{page.lastPage - 1}</a>
  </>}

  {currentPage < page.lastPage - 3 && <span>...</span>}
  <a href={`/explore/${page.lastPage}`}>{page.lastPage}</a>
  {page.url.next ? <a href={page.url.next}>Next</a> : null}
</div>
<style>
  .pagination {
    margin: 2em 0;
    text-align: center;
  }
  .pagination a {
		color: #fff;
		margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background: #23262d;
    text-decoration: none;
    border-radius: 2px;
	}
  .pagination a:hover {
    opacity: 0.7;
  }
	.pagination a.active {
		background:  var(--accent-dark);
	}
</style>