---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;
const defaultDescription = "A curated list of web development tools, articles, libraries and more. It gets updated every day."
const desc = description || defaultDescription
const link = "https://webdev.town"
const imageLink = image || "https://webdev.town/social.png"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc}>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name='robots' content='index, follow'></meta>
		<meta char-set='utf-8'></meta>
		<link rel='icon' href='/logo.svg' />
		<link rel=”mask-icon” href=”/logo.svg” color=”#00C6A7">
		<meta name='description' content={desc}></meta>
		<link rel='canonical' href={link} />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:site' content={link} />
		<meta name='twitter:title' content={title} />
		<meta name='twitter:description' content={desc} />
		<meta name='twitter:creator' content='@wweb_dev' />
		<meta name='twitter:image' content={imageLink} />
		<meta property='og:title' content={title} />
		<meta property='og:image' content={imageLink} />
		<meta property='og:site_name' content='workout.lol' />
		<meta property='og:description' content={desc} />
		<meta property='og:url' content={link} />

		<script async defer data-website-id="906bc518-8009-470f-98f1-c4cb87919edd" src="https://analytics.vincentwill.com/umami.js"></script>
	</head>
	<body>
		<main>
			<Navigation />
			<slot />
			<Footer/>
		</main>
	</body>
</html>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
	}
	@media (max-width: 500px) {
		main {
			max-width: 100%;
		}
	}
</style>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: #00C6A7;
		--accent-dark: #1E4D92;
		--accent-gradient: linear-gradient(57deg, var(--accent-light) 0%, var(--accent-dark) 100%);
		--light: #f6f6f6;
		--dark: #232526;
		--border-radius: 7px;
		--box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	html {
		font-family: system-ui, sans-serif;
		background: radial-gradient(circle, #000 0%, #232526 100%);
		margin: 0;
	}
	html::after {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.1;
		background-image: url(/whitenoise.jpg);
		z-index: -1;
	}
	body {
		margin: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	h2::after, h3::after {
		content: '';
		display: block;
		height: 3px;
		background: var(--accent-gradient);
		width: 50%;
		margin-top: 0.75em;
		border-radius: 1px;
	}
	h3::after {
		width: 50px;
		margin-top: 0.25em;
		height: 2px;
	}
	a {
		color: var(--accent-light);
    cursor: pointer;
  }
  a:hover {
    opacity: 0.7;
  }

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.sponsored {
		display: block;
		opacity: 0.6;
		margin-bottom: 0.4em;
		margin-top: -0.6em;
	}
	@media (max-width: 900px) {
		.link-card-grid {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
	}
	@media (max-width: 500px) {
		.link-card-grid {
			gap: 1rem;
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		}
	}

	@media (max-width: 366px) {
		.link-card-grid {
			gap: 2rem;
		}
	}

	.button {
		appearance: none;
		text-align: left;
		text-decoration: none;
		box-sizing: border-box;
		display: inline-block;
		width: auto;
		border-radius: 0.25rem;
		font-weight: 600;
		position: relative;
		line-height: 1;
		user-select: none;
		cursor: pointer;
		border: 0.0625rem solid transparent;
		background-color: var(--accent-dark);
		color: rgb(255, 255, 255);
		width: 50%;
		text-align: center;
		display: block;
		padding: 0 1.375rem;
    height: 2.625rem;
    width: 120px;
	}
	.button:hover {
		opacity: 0.8;
	}

	.link-card {
		position: relative;
		z-index: 1;
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: var(--border-radius);
		background-position: 100%;
		box-shadow: var(--box-shadow);
		width: 100%;
		max-width: 300px;
		container-type: inline-size;
	}
	.link-card > a {
		position: relative;
		width: 100%;
		height: 100%;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 1;
		padding-bottom: 1.5em;
	}
	.content {
		padding: calc(1.5rem - 1px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
	}
	h3 {
		margin: 0;
		font-size: 1.15em;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.image {
		object-fit: cover;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:not(.no-hover):hover::after {
		content: "";
		position: absolute;
		inset: -5px; /* control the spread */
		z-index: -1; /* place the element behind */
		background: var(--accent-gradient);/* your gradient here */;
		filter: blur(10px); /* control the blur */
	}
	.bottom {
		position: absolute;
		bottom: 1em;
		left: 1.5rem;
		opacity: 0.5;
		font-size: 0.75em;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	input[type=email], input[type=text], textarea {
    height: 2.625rem;
    line-height: calc(2.5rem);
    appearance: none;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
    border: 0.0625rem solid rgb(206, 212, 218);
    background-color: rgb(255, 255, 255);
    transition: border-color 100ms ease 0s;
    min-height: 2.625rem;
    padding-left: calc(0.875rem);
    padding-right: calc(0.875rem);
    border-radius: 0.25rem;
  }

	textarea {
		height: 5rem;
		line-height: 1.2em;
	}

	@container (max-width: 250px) {
		.content {
			font-size: 0.75em;
			padding: calc(1rem - 1px);
		}
	}
</style>
