---
interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}
import { Image } from 'astro:assets';
const images = import.meta.glob('../assets/content/**/*')

const { href, title, body, image } = Astro.props;
let domain = (new URL(href))
let imagePath = image.replace('/weekly', '../assets'); // todo update database
const myImage = images[imagePath]
	? await images[imagePath]()
	: { default: 'no-image' };
---

<li class="link-card">
	<a href={href} target="_blank" rel="noopener noreferrer" draggable="false">
		<Image
			src={myImage.default}
			alt={title}
			width={300}
			height={166}
			class="image"
		/>
		<div class="content">
			<div>
				<h3>
					{title}
					<span>&rarr;</span>
				</h3>
				<p>
					{body}
				</p>
			</div>
			<p class="host">
				{domain.hostname}
			</p>
		</div>
	</a>
</li>
<style>
	.link-card {
		position: relative;
		z-index: 1;
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: var(--border-radius);
		background-position: 100%;
		box-shadow: var(--box-shadow);
		width: 300px;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
	}
	.content {
		padding: calc(1.5rem - 1px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100% - 166px);
		box-sizing: border-box;
	}
	h3 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.image {
		object-fit: cover;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:hover::after {
		content: "";
		position: absolute;
		inset: -5px; /* control the spread */
		z-index: -1; /* place the element behind */
		background: var(--accent-gradient);/* your gradient here */;
		filter: blur(10px); /* control the blur */
	}
	.host {
		margin: 1em 0 0;
		opacity: 0.5;
		font-size: 0.75em;
	}
</style>
