---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Newsletter from '../components/Newsletter.astro';
import { getByQuery, getCount } from '../utils/database';

const today = new Date();
const sevenDaysAgo = new Date();
sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);
const query = {
	created_at: {
		$gte: sevenDaysAgo.toISOString(),
		$lte: today.toISOString(),
	}
};
const data = await getByQuery({ query })
const count = await getCount()
const todayData = data
	.filter(elem => new Date().toISOString().substring(0,10) === elem.created_at.substring(0,10))
	.sort((a, b) => a.sponsored ? -1 : b.created_at.localeCompare(a.created_at))
---

<Layout title="WebDev Town | A curated list of web development tools, articles, libraries, and resources that gets updated every day.">
	<h2>Discover <span class="text-gradient">{count}</span> Web Development Tools, Articles, Libraries and Resources!</h2>

	<Newsletter />

	<!-- TODO sort best -->
	{todayData.length > 0 ? <>
		<h3>Today</h3>
		<ul role="list" class="link-card-grid">
			{ todayData.map(elem => <Card
				href={elem.link}
				title={elem.title}
				body={elem.description}
				image={elem.image}
				sponsored={elem.sponsored}
				favourites={elem.favourites}
			/>)}
		</ul>
	</> : <></>}

	<h3>Last 7 Days</h3>
	<ul role="list" class="link-card-grid">
		{data
			.filter(elem => new Date().toISOString().substring(0,10) !== elem.created_at.substring(0,10))
			.map(elem => <Card
				id={elem._id.toString()}
				href={elem.link}
				title={elem.title}
				body={elem.description}
				image={elem.image}
				sponsored={elem.sponsored}
				favourites={elem.favourites}
			/>)}
	</ul>

	<a href="/explore" class="button">
		Explore all Resources
	</a>
</Layout>

<style>
h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 0.75em;
	}
	h2 mark {
		background: var(--accent-gradient);
		color: #fff;
		padding: 0 0.2em;
	}
	.button {
		padding: 1.25rem 2rem;
		margin: 2em auto;
		font-size: 1.25rem;
		min-width: 300px;
		height: 100%;
	}

	@media (max-width: 600px) {
		h2 {
			font-size: 2rem;
		}
	}
</style>
