---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Newsletter from '../components/Newsletter.astro';
import { getByQuery, getCount } from '../utils/database';

const sevenDaysAgo = new Date();
sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);
const query = {
	sponsored: { $ne: true },
	created_at: { $gte: sevenDaysAgo.toISOString() }
};
const data = await getByQuery(query)
const count = await getCount()
const todayData = data.filter(elem => new Date().toISOString().substring(0,10) === elem.created_at.substring(0,10))
---

<Layout title="WebDev Town | A curated list of web development tools articles libraries and resources that gets updated every day.">
	<h2>Explore <span class="text-gradient">{count}</span> Web Development Tools, Articles, Libraries and Resources!</h2>

	<Newsletter />

	{todayData.length && <>
		<h3>Today</h3>
		<ul role="list" class="link-card-grid">
			{ todayData.map(elem => <Card
				href={elem.link}
				title={elem.title}
				body={elem.description}
				image={elem.image}
			/>)}
		</ul>
	</>}

	<h3>Last 7 Days</h3>
	<ul role="list" class="link-card-grid">
		{data
			.filter(elem => new Date().toISOString().substring(0,10) !== elem.created_at.substring(0,10))
			.map(elem => <Card
				href={elem.link}
				title={elem.title}
				body={elem.description}
				image={elem.image}
			/>)}
	</ul>

	<a href="/explore/1" class="button">
		Explore all Resources
	</a>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 0.75em;
	}
	h2 mark {
		background: var(--accent-gradient);
		color: #fff;
		padding: 0 0.2em;
	}
	h2::after, h3::after {
		content: '';
		display: block;
		height: 3px;
		background: var(--accent-gradient);
		width: 50%;
		margin-top: 0.75em;
		border-radius: 1px;
	}
	h3::after {
		width: 50px;
		margin-top: 0.25em;
		height: 2px;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.button {
		padding: 1.25rem 2rem;
		appearance: none;
		text-align: left;
		text-decoration: none;
		box-sizing: border-box;
		display: inline-block;
		width: auto;
		border-radius: 0.25rem;
		font-weight: 600;
		position: relative;
		line-height: 1;
		font-size: 1.25rem;
		user-select: none;
		cursor: pointer;
		border: 0.0625rem solid transparent;
		background-color: var(--accent-dark);
		color: rgb(255, 255, 255);
		width: 50%;
		margin: 2em auto;
		text-align: center;
		min-width: 300px;
		display: block;
	}
	.button:hover {
		opacity: 0.8;
	}
</style>
