---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Newsletter from '../components/Newsletter.astro';
import { getByQuery, getCount } from '../utils/database';

const sevenDaysAgo = new Date();
sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);
const query = {
	sponsored: { $ne: true },
	created_at: { $gte: sevenDaysAgo.toISOString() }
};
const data = await getByQuery({ query })
const count = await getCount()
const todayData = data.filter(elem => new Date().toISOString().substring(0,10) === elem.created_at.substring(0,10))
---

<Layout title="WebDev Town | A curated list of web development tools articles libraries and resources that gets updated every day.">
	<h2>Explore <span class="text-gradient">{count}</span> Web Development Tools, Articles, Libraries and Resources!</h2>

	<Newsletter />

	{todayData.length > 0 ? <>
		<h3>Today</h3>
		<ul role="list" class="link-card-grid">
			{ todayData.map(elem => <Card
				href={elem.link}
				title={elem.title}
				body={elem.description}
				image={elem.image}
			/>)}
		</ul>
	</> : <></>}

	<h3>Last 7 Days</h3>
	<ul role="list" class="link-card-grid">
		{data
			.filter(elem => new Date().toISOString().substring(0,10) !== elem.created_at.substring(0,10))
			.map(elem => <Card
				href={elem.link}
				title={elem.title}
				body={elem.description}
				image={elem.image}
			/>)}
	</ul>

	<a href="/explore" class="button">
		Explore all Resources
	</a>
</Layout>

<style>
	.button {
		padding: 1.25rem 2rem;
		margin: 2em auto;
		font-size: 1.25rem;
		min-width: 300px;
		height: 100%;
	}
</style>